
/tests/wwi-dw-ssdt/bin/

/tests/wwi-dw-ssdt/obj/

tests/Microsoft\.SQL\.Server\.2016\.LocalDB/Microsoft\.SQL\.Server\.2016\.LocalDB\.nupkg

tests/nuget.exe

tests/wwi-dw-ssdt/WideWorldImporters_DeployScript*

tests/wwi-dw-ssdt/WideWorldImporters.Result.DeploymentReport*

tests/wwi-dw-ssdt/WideWorldImporters.Result.DeploymentSummary*

tests/Publish-DatabaseDeployment.Tests.Richie.ps1

tests/wwi-dw-ssdt/nuget.exe


tests/Microsoft.Data.Tools.Msbuild/*
tests/PublishDbRichie.ps1
tests/deployScripts/*
tests/wwi-dw-ssdt/.vs/*
tests/wwi-dw-ssdt/DepRepWideWorldImportersDW.publish.xml
tests/wwi-dw-ssdt/Microsoft.SqlServer.DacFx.x64/*
tests/wwi-dw-ssdt/WideWorldImporters.Result.DeployScript*
tests/wwi-dw-ssdt/WideWorldImportersDW.sln
tests/wwi-dw-ssdt/dbo/Tables/TestOne.sql
tests/wwi-dw-ssdt/dbo/Tables/TestTwo.sql

tests/PublishDb.ps1*

tests/s p a c e s/nuget.exe*

tests/wwi-dw-ssdt/WideWorldImportersDW.dbmdl*

tests/wwi-dw-ssdt/WideWorldImportersDW.jfm*

tests/s p a c e s/nuget.exe

PoshSSDTBuildDeploy/Functions/TraceLog.ps1
TestRun.xml
testProject/Northwind/.gitattributes
testProject/Northwind/.gitignore
testProject/Northwind/Microsoft.Data.Tools.Msbuild/
testProject/Northwind/Microsoft.SqlServer.DacFx.x64/
testProject/Northwind/nuget.exe
tests/TestRun.xml
tests/deprep/tracelog.log

testProject/Northwind/Northwind.dbmdl
testProject/Northwind/Northwind.jfm
testProject/Northwind/Northwind.sqlproj.user
testProject/Northwind/bin/
testProject/Northwind/obj/
